<div>
    <div id="accordion" *ngFor="let title of menuOptions">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        {{ title.name }}
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <!-- Default unchecked -->
                    <div class="custom-control custom-checkbox" *ngFor="let choice of title.choices">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">{{ choice.name }}</label>
                    </div>
                    <p *ngIf="title.related.length">You may also want:</p>
                    <div class="custom-control custom-checkbox" *ngFor="let related of title.related"> <!-- -->
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">{{ related.name }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>