<div class="container">
    <div id="accordion" *ngFor="let title of menuOptions">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0 header-h5">
                    <button #el class="btn btn-link" data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseOne" (click)="toggleMenu(el)">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id={{title.name}}/>
                            <label class="custom-control-label" for={{title.name}}>{{ title.name }}</label>
                        </div>
                    </button>
                </h5>
            </div>

            <div id={{title.name}} class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <!-- Default unchecked -->
                    <div class="custom-control custom-checkbox" *ngFor="let choice of title.choices">
                        <div class="checkbox">
                            <input type="checkbox" class="custom-control-input" id={{choice.name}}>
                            <label class="custom-control-label" for={{choice.name}}>{{ choice.name }}</label>
                        </div>
                    </div>
                    <p *ngIf="title.related.length" class="optional">You may also want:</p>
                    <div class="custom-choices" *ngFor="let related of title.related">
                        <div class="custom-control custom-checkbox checkbox related-options">
                            <input #el type="checkbox" class="custom-control-input related-inputs" id={{title.name}}-{{related.name}} (click)="toggleOption(el,related)">
                            <label class="custom-control-label" for={{title.name}}-{{related.name}}>{{ related.name }}</label>
                        </div>
                        <div id="related-category" class="custom-control custom-checkbox wrapped">
                            <div *ngFor="let choice of related.choices">
                                <div class="wrapped-checkbox">
                                    <input type="checkbox" class="custom-control-input" id={{choice.name}}>
                                    <label class="custom-control-label" for={{choice.name}}>
                                        {{ choice.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
     data-toggle="collapse" aria-expanded="true"
                        href="#related-category" aria-controls="related-category"
-->
