.container {
    width: 50%;
}

.optional {
    /* background: red; */
    text-align: left;
    padding: 10px;
}

.wrapped input, .wrapped label {
    /* background: blue; */
    display: flex;
    /* width: 50%; */
    justify-content: center;
    align-items: right;
}

.checkbox {
    /* width: 50%; */
    display: flex;
}

.related-options {
    padding-left: 40px;
}

.wrapped-checkbox {
    /* background: orange; */
    /* width: 100%; */
    padding-left: 40px;
    display: flex;
}

.wrapped {
    display: none;
}

.header-h5 {
    text-align: left;
}

.main-body {
    display: none;
}

.optional-menu-section {
    display: none;
}